 .selectstyles {
     background-color: black;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 25px;
     padding: 30px;
 }

 .selectstyles button {
     background-color: white;
     color: black;
     font-size: 20px;
     border: none;
     padding: 20px;
     width: 20%;
 }

 .selectstyles p {
     color: white;
     font-size: 35px;
     font-family: "Times New Roman", Times, serif;
 }

 .categories {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 80px;
     gap: 40px;
 }

 .sort {
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

 .sort h4 {
     text-align: center;
     font-size: 20px;
     font-weight: 500;
     padding-bottom: 70px;
     font-family: "Times New Roman", Times, serif;
 }

 .sort h3 {
     display: flex;
     align-items: center;
     gap: 20px;
     font-weight: 400;
     font-size: 17px;
 }

 .sort p {
     font-weight: 200;
     color: gray;
 }

 .sort span {
     font-size: 55px;
     letter-spacing: 10px;
 }

 .sort img {
     width: 100%;
     height: 80%;
 }

 .wheretogo {
     display: flex;
     flex-direction: column;
     justify-content: center;
     background-color: #f7f0ea;
     padding: 20px;
     gap: 30px;
     width: 82.5%;
 }

 .wheretogo h2 {
     font-size: 60px;
     font-weight: 300;
     font-family: "Times New Roman", Times, serif;
 }

 .wheretogo h3 {
     display: flex;
     align-items: center;
     gap: 20px;
     font-weight: 500;
     font-size: 17px;
 }

 .wheretogo h4 {
     font-weight: 300;
     font-size: 17px;
     display: flex;
 }

 .inspiration {
     display: flex;
     justify-content: space-between;
 }

 .inspiration img {
     height: 60%;
 }

 .travelinnovation {
     padding: 70px;
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

 .travelinnovation p {
     font-size: 20px;
     font-family: "Times New Roman", Times, serif;
     letter-spacing: 7px;
 }

 .travelinnovation span {
     font-weight: 100;
     font-size: 17px;
 }

 .travelinnovation h3 {
     font-weight: 400;
     font-size: 45px;
 }

 .shopping {
     display: flex;
     flex-direction: column;
     gap: 20px;
     cursor: pointer;
 }

 .shops {
     display: flex;
     justify-content: space-between;
     padding: 50px;
     gap: 80px;
 }

 .shopping img {
     width: 100%;
     height: 70%;
 }

 .shopping span {
     display: flex;
     align-items: center;
     gap: 10px;
     font-weight: 400;
     font-size: 16px;
 }

 .innovation {
     display: flex;
     background-color: #f7f0ea;
 }

 .innovation img {
     width: 85%;
     height: 100%;
 }

 .container {
     display: flex;
     justify-content: center;
     padding: 60px 0px 120px;
 }

 .bags img {
     width: 100%;
     height: 100%;
 }

 .bags p {
     font-weight: 500;
     color: gray;
     font-size: 14px;
 }

