  .highlight {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      text-align: center;
  }

  .highlight span {
      font-size: 60px;
      font-family: "Times New Roman", Times, serif;
      font-weight: 200;
  }

  .highlight p {
      font-style: oblique;
  }

  .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 70px;
      text-align: center;
      gap: 20px;
  }

  .intro button {
      background-color: black;
      color: white;
      border: none;
      padding: 18px;
      font-size: 18px;
  }

  .intro p {
      font-size: var(--js-mobileFontSize);
      font-size: 60px;
      letter-spacing: 1px;
  }

  .intro span {
      font-weight: 200;
  }

  .reasons {
      background-color: #f7f0ea;
      width: 100%;
  }

  .getaway img {
      width: 100%;
      height: 60%;
  }

  .getaway {
      display: flex;
      padding-top: 100px;
  }